// 全站設定
*,*::before,*::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto ;
    vertical-align: middle;
}
.object-cover {
    object-fit: cover;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Noto Sans TC, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
}
a {
    text-decoration: none;
}