.bg-secondary {
    background-color: $secondary;
}
.blog-image:hover {
    opacity: 0.8;
}
.blog-title:hover {
    color: $black;
    font-weight: 700;
}
.blog-image {
    @include pad {
        height: 208px;
        object-fit: cover;
    }
    @include mobile {
        height: auto;
    }
}