.navBlog-xs {
    @include mobile {
        display: flex;
        justify-content: space-around;
        margin-right: 0;
        margin-left: 0;
    }
}
.breadcrumb {
    display: flex;
    margin-right: -4px;
    margin-left: -4px;
}
.breadcrumb-link {
    padding-right: 4px;
    padding-left: 4px;
}
.breadcrumb-link:hover {
    color: $primary;
}
.color-primary {
    color: $primary;
}