.btn {
    padding: 6px 12px;
}
.btn-primary {
    background-color: $primary;
    color: $white;
}
.btn-primary:hover {
    background-color: $secondary;
}
.btn-link {
    background-color: transparent;
    border: none;
    color: $white;
    padding: 0;
}
.btn-link:hover {
    color: $black;
}
.btn-black {
    background-color: $black;
    color: $white;
}
.btn-black:hover {
    background-color: $primary;
}
.btn-large {
    padding: 16px 176px;
    @include mobile {
        width: 100%;
        padding: 16px 0px;
    };
}
.btn-medium {
    padding: 16px 170px;
}