.bg-homeHeader {
    height: calc(100vh - 80px);
    background: url(../images/home-header.png) no-repeat;
    background-size: cover;
    background-position: center center;
    @include pad {
        background: url(../images/home-header-sm.png) no-repeat;
        background-size: cover;
        background-position: center center;
    };
    @include mobile {
        height: 396px;
    };
}
.h-100 {
    height: calc(100vh - 80px);
    @include mobile {
        height: 396px;
    };
}
.bg-lightPink {
    background-color: $lightPink;
}
.bg-homeBanner {
    background: url(../images/index-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    @include pad {
        background: url(../images/index-bg-md.png) no-repeat;
        background-size: cover;
        background-position: center center;
    };
    @include mobile {
        background: url(../images/index-bg-sm.png) no-repeat;
        background-size: cover;
        background-position: center center;
    };
}
.bg-CobrandingD {
    background: url(../images/home-section4-1.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 240px;
    @include mobile {
        background: url(../images/home-section4-1-sm.png) no-repeat;
        background-size: cover;
        background-position: center center;
    };
}
.bg-CobrandingY {
    background: url(../images/home-section4-2.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 240px;
    @include mobile {
        background: url(../images/home-section4-2-sm.png) no-repeat;
        background-size: cover;
        background-position: center center;
    };
}
.bg-white {
    background-color: $white;
}
.form-label {
    display: block;
    line-height: 24px;
    padding-bottom: 8px;
}
.form-control {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    background-color: $lightPink;
    border: 1px solid $black;
    padding: 6px 12px;
}
.form-check {
    display: flex;
    align-items: center;
}
.form-check-input {
    margin-right: 4px;
}
.form-check-label {
    line-height: 24px;
}
.submit {
    font-size: $font-reg;
    line-height: 24px;
    font-weight: 700;
    white-space: nowrap;
    @include mobile {
        width: 100%;
    };
}