.bg-homeHeader {
    height: calc(100vh - 80px);
    background: url(../images/home-header.png) no-repeat;
    background-size: cover;
    background-position: center center;
    @include pad {
        background: url(../images/home-header-sm.png) no-repeat;
        background-size: cover;
        background-position: center center;
    };
    @include mobile {
        height: 396px;
    };
}
.h-100 {
    height: calc(100vh - 80px);
    @include mobile {
        height: 396px;
    };
}
.bg-lightPink {
    background-color: $lightPink;
}
.bg-black {
    background-color: $black;
}
.bg-white {
    background-color: $white;
}
.form-label {
    display: block;
    line-height: 24px;
    padding-bottom: 8px;
}
.form-control {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    background-color: $lightPink;
    border: 1px solid $black;
    padding: 6px 12px;
}
.form-check {
    display: flex;
    align-items: center;
}
.form-check-input {
    margin-right: 4px;
}
.form-check-label {
    line-height: 24px;
}