.navbar {
    background-color: $primary;
}
.navbar-brand {
    display: block;
    background: url(../images/logo-white.png) no-repeat;
    background-size:  80px 48px;
    width: 80px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.navbar-nav {
    display: flex;
    margin-right: -32px;
    margin-left: -32px;
    @include mobile {
        display: block;
        background-color: $primary;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 1s;
        position: absolute;
        z-index: 2;
        top: 80px;
        left: 0;
        right: 0;
        margin-right: 0;
        margin-left: 0;
    };
}
.navbar-nav li {
    @include mobile {
        border-top: 1px dashed $white;
    };
}
.navbar-nav_show .navbar-nav {
    max-height: 260px;
}
.navbar-nav-link {
    display: block;
    @include mobile {
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
    };
}
.navbar-nav-link:hover {
    color: $black;
    @include mobile {
        background-color: $lightPink;
        color: $secondary;
    };
}
.hamburgerMenu {
    display: none;
    width: 40px;
    height: 40px;
    color: $white;
    @include mobile {
        display: block;
    };
}
.bg-primary {
    background-color: $primary;
}
.nav {
    display: flex;
    margin-right: -24px;
    margin-left: -24px;
    @include mobile {
        display: none;
    };
}
.nav-link:hover {
    color: $black;
}