.navbar {
    background-color: $primary;
}
.navbar-brand {
    display: block;
    background: url(../images/logo-white.png) no-repeat;
    background-size:  80px 48px;
    width: 80px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.navbar-nav {
    display: flex;
    margin-right: -32px;
    margin-left: -32px;
    @include mobile {
        display: none;
    };
}
.nav-link {
    display: block;
}
.nav-link:hover {
    color: $black;
}
.hamburgerMenu {
    display: none;
    width: 40px;
    height: 40px;
    color: $white;
    @include mobile {
        display: block;
    };
}
.bg-primary {
    background-color: $primary;
}
.nav {
    display: flex;
    margin-right: -24px;
    margin-left: -24px;
    @include mobile {
        display: none;
    };
}