.bg-secondary {
    background-color: $secondary;
}
.navBlog-xs {
    @include mobile {
        display: flex;
        justify-content: space-around;
        margin-right: 0;
        margin-left: 0;
    }
}
.blog-image:hover {
    opacity: 0.8;
}
.blog-title:hover {
    color: $black;
    font-weight: 700;
}
.blog-image {
    @include pad {
        height: 208px;
        object-fit: cover;
    }
    @include mobile {
        height: auto;
    }
}