// 通用類別 - 邊框
.border-0 {
    border: 0px;
}
.border {
    border: 1px solid;
}
.border-bottom {
    border-bottom: 1px solid;
}
.border-start {
    border-left: 1px solid;
}
.border-start-title {
    border-left: 8px solid;
}
.border-end {
    border-right: 1px solid ;
}
.border-primary {
    color: $primary;
}
.border-white {
    color: $white;
}
.border-dark {
    color: $dark;
}
.border-gray {
    color: $gray;
}
.border-lightGray {
    color: $lightgray;
}
.rounded-4 {
    border-radius: 4px;
}
// 通用類別 - Display
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.d-md-none {
    @include pad {
        display: none;
    };
}
.d-md-block {
    @include pad {
        display: block;
    };
}
.d-md-flex {
    @include pad {
        display: flex;
    };
}
.d-xs-none {
    @include mobile {
        display: none;
    };
}
.d-xs-block {
    @include mobile {
        display: block;
    };
}
.d-xs-inline-block {
    @include mobile {
        display: inline-block;
    };
}
// 通用類別 - Flexbox
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: flex-end;
}
.align-items-stretch {
    align-items: stretch;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.flex-md-wrap {
    @include pad {
        flex-wrap: wrap;
    };
}
.flex-md-column {
    @include pad {
        flex-direction: column;
    };
}
.align-items-md-center {
    @include pad {
        align-items: center;
    };
}
.flex-xs-wrap {
    @include mobile() {
        flex-wrap: wrap;
    };
}
// 通用類別 - 陰影
.shadow-sm {
    box-shadow: 0px 2px 6px #00000029;
}
// 通用類別 - 尺寸
.w-24 {
    width: 24px;
}
.w-100 {
    width: 100px;
}
.h-112 {
    height: 112px;
}
.h-xs-240 {
    @include mobile {
        height: 240px;
    };
}
.icon-social {
    width: 48px;
    height: 48px;
    @include pad {
        width: 40px;
        height: 40px;
    };
    @include mobile {
        width: 24px;
        height: 24px;
    };
}
.icon-contact {
    width: 48px;
    height: 48px;
    @include mobile {
        width: 24px;
        height: 24px;
    };
}
// 通用類別 - 間距
.mt-1 {
    margin-top: $spacer*0.25;
}
.mt-3 {
    margin-top: $spacer*0.75;
}
.mt-6 {
    margin-top: $spacer*1.5;
}
.mt-7 {
    margin-top: $spacer*1.75;
}
.mt-8 {
    margin-top: $spacer*2;
}
.mt-14 {
    margin-top: $spacer*3.5;
}
.mt-16 {
    margin-top: $spacer*4;
}
.mt-24 {
    margin-top: $spacer*6;
}
.mb-1 {
    margin-bottom: $spacer*0.25;
}
.mb-2 {
    margin-bottom: $spacer*0.5;
}
.mb-3 {
    margin-bottom: $spacer*0.75;
}
.mb-4 {
    margin-bottom: $spacer*1;
}
.mb-5 {
    margin-bottom: $spacer*1.25;
}
.mb-6 {
    margin-bottom: $spacer*1.5;
}
.mb-7 {
    margin-bottom: $spacer*1.75;
}
.mb-8 {
    margin-bottom: $spacer*2;
}
.mb-9 {
    margin-bottom: $spacer*2.25;
}
.mb-10 {
    margin-bottom: $spacer*2.5;
}
.mb-12 {
    margin-bottom: $spacer*3;
}
.mb-14 {
    margin-bottom: $spacer*3.5;
}
.mb-15 {
    margin-bottom: $spacer*3.75;
}
.mb-16 {
    margin-bottom: $spacer*4;
}
.mb-17 {
    margin-bottom: $spacer*4.25;
}
.mb-20 {
    margin-bottom: $spacer*5;
}
.mb-31 {
    margin-bottom: $spacer*7.75;
}
.mb-36 {
    margin-bottom: $spacer*9;
}
.me-2 {
    margin-right: $spacer*0.5;
}
.me-4 {
    margin-right: $spacer*1;
}
.me-6 {
    margin-right: $spacer*1.5;
}
.me-8 {
    margin-right: $spacer*2;
}
.me-12 {
    margin-right: $spacer*3;
}
.ms-2 {
    margin-left: $spacer*0.5;
}
.mx-0 {
    margin-right: 0;
    margin-left: 0;
}
.mx-3 {
    margin-right: $spacer*0.75;
    margin-left: $spacer*0.75;
}
.my-20 {
    margin-top: $spacer*5;
    margin-bottom: $spacer*5;
}
.p-4 {
    padding: $spacer*1;
}
.pt-12 {
    padding-top: $spacer*3;
}
.pt-14 {
    padding-top: $spacer*3.5;
}
.pt-16 {
    padding-top: $spacer*4;
}
.pb-4 {
    padding-bottom: $spacer*1;
}
.pb-8 {
    padding-bottom: $spacer*2;
}
.pb-16 {
    padding-bottom: $spacer*4;
}
.pb-40 {
    padding-bottom: $spacer*10;
}
.ps-6 {
    padding-left: $spacer*1.5;
}
.px-0 {
    padding-right: 0;
    padding-left: 0;
}
.px-1 {
    padding-right: $spacer*0.25;
    padding-left: $spacer*0.25;
}
.px-3 {
    padding-right: $spacer*0.75;
    padding-left: $spacer*0.75;
}
.px-4 {
    padding-right: $spacer*1;
    padding-left: $spacer*1;
}
.px-6 {
    padding-right: $spacer*1.5;
    padding-left: $spacer*1.5;
}
.px-8 {
    padding-right: $spacer*2;
    padding-left: $spacer*2;
}
.py-2 {
    padding-top: $spacer*0.5;
    padding-bottom: $spacer*0.5;
}
.py-4 {
    padding-top: $spacer*1;
    padding-bottom: $spacer*1;
}
.py-6 {
    padding-top: $spacer*1.5;
    padding-bottom: $spacer*1.5;
}
.py-20 {
    padding-top: $spacer*5;
    padding-bottom: $spacer*5;
}
.mt-md-2 {
    @include pad {
        margin-top: $spacer*0.5;
    };
}
.mt-md-20 {
    @include pad {
        margin-top: $spacer*5;
    };
}
.mb-md-0 {
    @include pad {
        margin-bottom: 0;
    };
}
.mb-md-1 {
    @include pad {
        margin-bottom: $spacer*0.25;
    };
}
.mb-md-4 {
    @include pad {
        margin-bottom: $spacer*1;
    };
}
.mb-md-6 {
    @include pad {
        margin-bottom: $spacer*1.5;
    };
}
.mb-md-10 {
    @include pad {
        margin-bottom: $spacer*2.5;
    };
}
.mb-md-20 {
    @include pad {
        margin-bottom: $spacer*5;
    };
}
.me-md-4 {
    @include pad {
        margin-right: $spacer*1;
    };
}
.mx-md-0 {
    @include pad {
        margin-right: 0;
        margin-left: 0;
    };
}
.p-md-0 {
    @include pad {
        padding: 0;
    };
}
.mt-xs-4 {
    @include mobile {
        margin-top: $spacer*1;
    };
}
.mt-xs-10 {
    @include mobile {
        margin-top: $spacer*2.5;
    };
}
.mb-xs-0 {
    @include mobile {
        margin-bottom: 0;
    };
}
.mb-xs-2 {
    @include mobile {
        margin-bottom: $spacer*0.5;
    };
}
.mb-xs-4 {
    @include mobile {
        margin-bottom: $spacer*1;
    };
}
.mb-xs-6 {
    @include mobile {
        margin-bottom: $spacer*1.5;
    };
}
.mb-xs-16 {
    @include mobile {
        margin-bottom: $spacer*4;
    };
}
.mx-xs-0 {
    @include mobile {
        margin-right: 0;
        margin-left: 0;
    };
}
.my-xs-10 {
    @include mobile {
        margin-top: $spacer*2.5;
        margin-bottom: $spacer*2.5;
    };
}
.pt-xs-6 {
    @include mobile {
        padding-top: $spacer*1.5;
    };
}
.pb-xs-6  {
    @include mobile {
        padding-bottom: $spacer*1.5;
    };
}
.px-xs-0 {
    @include mobile {
        padding-right: 0;
        padding-left: 0;
    };
}
.py-xs-0 {
    @include mobile {
        padding-top: 0;
        padding-bottom: 0;
    };
}
.py-xs-3 {
    @include mobile {
        padding-top: $spacer*0.75;
        padding-bottom: $spacer*0.75;
    };
}
.py-xs-10 {
    @include mobile {
        padding-top: $spacer*2.5;
        padding-bottom: $spacer*2.5;
    };
}
// 通用類別 - 文字顏色
.text-primary {
    color: $primary;
}
.text-secondary {
    color: $secondary;
}
.text-white {
    color: $white;
}
.text-black {
    color: $black;
}
.text-gray {
    color: $gray;
}
.text-darkgray {
    color: $darkgray;
}
// 通用類別 - 文字字級
.h1 {
    font-size: $font-7xl;
    line-height: 96px;
    @include mobile {
        font-size: $font-2xl;
        line-height: 36px;
    };
}
.h2 {
    font-size: $font-6xl;
    line-height: 72px;
    @include mobile {
        font-size: $font-2xl;
        line-height: 36px;
    };
}
.h2-xs {
    @include mobile {
        font-size: $font-6xl;
        line-height: 72px;
    };
}
.h3 {
    font-size: $font-5xl;
    line-height: 63px;
    @include mobile {
        font-size: $font-2xl;
        line-height: 36px;
    };
}
.h4 {
    font-size: $font-4xl;
    line-height: 54px;
    @include mobile {
        font-size: $font-reg;
        line-height: 24px;
    };
}
.h5 {
    font-size: $font-3xl;
    line-height: 48px;
}
.h5-md {
    font-size: $font-2xl;
    line-height: 36px;
    @include mobile {
        font-size: $font-reg;
        line-height: 24px;
    };
}
.h5-xs {
    @include mobile {
        font-size: $font-2xl;
        line-height: 36px;
    };
}
.h6 {
    font-size: $font-2xl;
    line-height: 36px;
}
.h6-md {
    @include pad {
        font-size: $font-reg;
        line-height: 24px;
    };
}
.h6-xs {
    @include mobile {
        font-size: $font-reg;
        line-height: 24px;
    };
}
.text-xl {
    font-size: $font-xl;
    line-height: 30px;
}
.text-xl-md {
    @include pad {
        font-size: $font-reg;
        line-height: 24px;
    };
}
.text-xl-xs {
    @include mobile {
        font-size: $font-reg;
        line-height: 24px;
    };
}
.text-lg {
    font-size: $font-lg;
    line-height: 29px;
    @include mobile {
        font-size: $font-reg;
        line-height: 26px;
    };
}
.text-md {
    font-size: $font-md;
    line-height: 27px;
    @include mobile {
        font-size: $font-reg;
        line-height: 24px;
    };
}
.text-md-xs {
    @include mobile {
        font-size: $font-reg;
        line-height: 24px;
    };
}
.text-reg {
    font-size: $font-reg;
    line-height: 24px;
}
.text-sm {
    font-size: $font-sm;
    line-height: 21px;
}
.text-sm-xs {
    @include mobile {
        font-size: $font-reg;
        line-height: 24px;
    };
}
// 通用類別 - 文字樣式
.fw-black {
    font-weight: 900;
}
.fw-bold {
    font-weight: 700;
}
.fw-medium {
    font-weight: 500;
}
.fw-regular {
    font-weight: 400;
}
.fst-italic {
    font-style: italic;
}
.text-start {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-end {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-xs-center {
    @include mobile {
        text-align: center;
    };
}